.reports {
  height: 100vh;
  overflow: hidden;
  .reports-layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 70px 1fr;
    height: 87vh;
    margin: $sm-font2;
    grid-template-areas:
      "nav main"
      "nav  main";
    overflow-x: hidden;
    background-color: $gray-bg;
    gap: $sm-font2;
    .reports-sidebar {
      background-color: $white-color;
      flex: 0 0 250px;
      grid-area: nav;
      border-radius: 8px;
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 20px;
          font-size: 14px;
          color: $black-color;
          cursor: pointer;
          border-left: 4px solid transparent;
          .layout-icon {
            margin-top: 5px;
            color: $black-color;
          }
          &:hover {
            background-color: $gray-bg;
          }
          &.selected {
            background-color: $light-purple;

            .report__links{
              color: $primary-color;
            }

            .report__icons{
              color: $primary-color;
            }
          }

          .report__links{
            color: $black-color;
          }
        }
      }
    }
    .reports-content {
      flex: 1;
      grid-area: main;
      padding: 0rem;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      background-color: $white-color;
      border-radius: 8px;
    }
  }
}
