.container.delete_account {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: $inter-font;
    color: $black-color2;
    max-width: 60%;
    margin: 0 auto;

    @include lg{
    max-width: 100%;
    width: 100%;
    }

    .delete_account_header {
        font-size: 1.5rem;
        margin-bottom: 2rem;
        text-align: center;
    }

    .delete_account_header2 {
        font-size: 1rem;
        margin-bottom: 2rem;
        text-align: center;
    }

    .delete_account_info {
        font-weight: 400;
        text-align: center;
        max-width: 500px;

        @include lg{
            max-width: 100%;
            width: 100%;
            }
    }

    .delete_account_info2 {
        font-weight: 400;
        max-width: 550px;
        text-align: center;
        margin-bottom: 1rem;

        @include lg{
            max-width: 100%;
            width: 100%;
            }
    }

    .form.mt-4 {
        margin-top: 2rem;
        width: 50%;
        padding: 0 1rem;
        min-width: 400px;

        @include lg{
            width: 100%;
            min-width: 100%;
        }


        h3 {
            font-size: 14px;
            font-weight: 400;
            padding-bottom: 5px;
        }

        .delbtn-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 1rem;
            margin-bottom: 1rem;

            @include lg{
                flex-direction: column;
                gap: $sm-font1;
                align-items: normal;
                width: 100%;

            }

            .cancel-btn-div1{
                display: none;
                @include lg{
                    display: flex;
                }

                .delete_cancel-btn1 {
                    @include cancelBtnBorder;
                    padding: 0.7rem 3rem;
                    margin-top: 12px;
                    font-weight: 700;
                    font-size: $sm-font;
                    font-family: $space-grotesk-font;
    
                    @include lg{
                        width: 100%;
                    }
                }
            }

            .delete_cancel-btn {
                @include cancelBtnBorder;
                padding: 0.7rem 3rem;
                margin-top: 12px;
                font-weight: 700;
                font-size: $sm-font;
                font-family: $space-grotesk-font;

                @include lg{
                    display: none;
                    width: 100%;
                }
            }
        }
    }

    // Confirm delete btns
    .confirm_delete-btn {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        width: 350px;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 1rem;

        @include lg{
           flex-direction: column;
           width: 100%;
           gap:$sm-font1;
           align-items: normal;
            }

        .delete_cancel-btn {
            @include cancelBtnBorder;
            padding: 0.7rem 4rem;
            margin-top: 15px;
            font-weight: 400;
            font-size: $sm-font;
            font-family: $space-grotesk-font;

            @include lg{
                width: 100%;
            }
        }

        .yes-btn {
            padding: 0.7rem 4rem;
            font-weight: 400;

            @include lg{
                width: 100%;

            }
        }
    }

}