.item-pry-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;

    .container-item1{
    background-color: #fff;
    overflow-y: scroll;
    height: 90vh;
    width: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding: 0 $extra-font;

    @include lg{
        height: 100%;
        width: 100%;
        padding: 0;
        margin-bottom: $xxl-font2;
        padding-top:$xl-font;
        padding-bottom: $xl-font;
    }
    
    .header-parent{
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 0;
        z-index: 500;
        background-color: #fff;
        width: 100%;
        padding: $extra-font 0;

        @include lg{
            padding: 0 $sm-font;
        }
        .buttons {
            display: flex;
            align-items: center;
            margin-right: auto;
            justify-content: flex-end;
            gap:$md-font;
            z-index: 50;
            background-color: #fff;
            width: 100%;

            @include lg{
                padding-top:$sm-font;
            }
    
            .add-btn {
                outline: none;
                background-color: transparent;
                color: $primary-color;
                padding: 10px 20px;
                font-size: $sm-font;
                font-weight: 700;
                font-family: $space-grotesk-font;
                border: 1px solid  $primary-color;
                border-radius: 4px;
                cursor: pointer;
                box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
            }
    
            .cancel-btn {
                outline: none;
                background-color: $primary-color;
                color: $white-color;
                padding: 10px 24px;
                font-size: $sm-font;
                font-weight: 700;
                font-family: $space-grotesk-font;
                border: none;
                border-radius: 4px;
                cursor: pointer;
    
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    
        .header{
         padding: $extra-font 0;
         display: flex;
         justify-content: center;
         align-items: center;
        gap: $sm-font;
        flex-direction: column;
        background-color: #fff;
        z-index: 100;
        width: 100%;

        p{
            font-family: $inter-font;
            font-size: $sm-font;
            font-weight: 500;
            color: $black-color;
        }
        h2{
            font-family: $inter-font;
            font-size: $lg-font;
            font-weight: 600;
            color: $black-color;
        }
        }
    }

    }

    .container-item {
        width: 400px;
        background-color: #fff;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
        padding: 20px;

        @include lg{
            height: 100%;
            width: 100%;
        }

        .header {
            @include flexSpaceCenter;
            width: 100%;
            margin-bottom: 1rem;

            h2 {
                margin-right: 0.5rem;
                font-size: $extra-font;
                font-weight: 600;
                font-family: $inter-font;
                color: $primary-color2;
            }

            .icon {
                color: $light-gray;
            }
        }

        hr {
            width: 100%;
            border: none;
            border-bottom: 1px solid $placeholder-gray;
            margin-bottom: 2rem;
        }

        .form-field {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 1.5rem;

            label {
                margin-bottom: 0.5rem;
                color: $black-color;
                font-weight: 500;
                font-size: 14px;
            }

            input,
            select {
                width: 100%;
                padding: 0.5rem;
                border-radius: 0.25rem;
                outline: none;
                border: 1px solid $placeholder-gray;
                box-sizing: border-box;
                font-size: 14px;
                padding: 0.8rem 1.5rem;
            }

            input::placeholder {
                color: $placeholder-gray;
            }

        }

        .buttons {
            display: flex;
            margin-top: 1rem;
            align-items: center;
            margin-right: auto;
            justify-content: flex-end;
            gap:$md-font;

            .add-btn {
                outline: none;
                background-color: transparent;
                color: $primary-color;
                padding: 10px 20px;
                font-size: $sm-font;
                font-weight: 700;
                font-family: $space-grotesk-font;
                border: 1px solid  $primary-color;
                border-radius: 4px;
                cursor: pointer;
                box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
            }

            .cancel-btn {
                outline: none;
                background-color: $primary-color;
                color: $white-color;
                padding: 10px 24px;
                font-size: $sm-font;
                font-weight: 700;
                font-family: $space-grotesk-font;
                border: none;
                border-radius: 4px;
                cursor: pointer;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

.modal-sucess{
    @include fixedModal;
    z-index: 99999999999;


    .modal-content{
        @include modalContent;
        padding: 3rem 5rem;
        display: flex;
        flex-direction: column;
        gap:3rem;
        justify-content: center;
        align-items: center;

        @include lg{
        padding: 3rem 0;
        width: 80%;
        margin: 0 auto;
        }

    p{
        font-size: $extra-font;
        font-weight: 600;
        font-family: $inter-font;
        color: $black-color;
        text-align: center;
    }
    }

    .okay-btn{
    padding: 10px $xxl-font;
    background-color: $primary-color;
    color:$bg-white;
    font-family: $inter-font;
    font-size: $sm-font;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
    }
}
