.menuCard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  gap: $md-font;
  padding: $md-font;

  @include xl {
    grid-template-columns: repeat(2, 1fr);
    gap: $md-font;
    padding-top: $sm-font;
  }

  @include lg {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding:0 $lg-font;
    margin: 0 auto;
    gap: $sm-font2;
    padding-bottom: $xxl-font2;
  }

  @include sm {
    grid-template-columns: 1fr 1fr;
    padding: 0 $lg-font;
    margin: 0 auto;
    gap: $sm-font2;
    padding-bottom: $xxl-font2;

    // display: flex;
    // flex-wrap: wrap;
  }

  &__card {
    @include flexCenter;
    flex-direction: column;
    background-color: $white-color;
    gap: $sm-font;
    width: 184px;
    // width: 150px;
    height: 231px;
    padding: $lg-font;
    padding-top: $xxl-font2;
    border-radius: 16px;
    position: relative;
    margin-top: $sm-font2;
    cursor: pointer;

    @include lg{
      width:143px;
      height: 191px;
      padding-bottom: $xxl-font1;
      padding-top: 8rem;
    }

    img {
      width: 80px;
      height: 80px;

      @include lg{
        width:64px;
        height: 64px;
      }
    }

    @include lg {
      margin-top: $xl-font;
    }
  }

  &__title {
    font-weight: 700;
    font-family: "Inter";
    font-weight: 400;
    font-size: $xs-font;
    line-height: 130%;
    word-wrap: break-word;
    width: 16ch;
    text-align: center;
  }

  &__price {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: $sm-font;
    line-height: 19px;
    letter-spacing: 0.0025em;
  }

  img {
    position: absolute;
    top: -$md-font;
  }

  &__price {
    font-size: $sm-font;
    font-weight: 700;
    position: relative;
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: $sm-font1;

    @include lg{
      padding: 0;
      gap: $sm-font2;
    }

    .edit__parent {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: $vs-font;

      p {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: $xxs-font;
        line-height: 130%;
        color: $light-gray;
      }
    }

    .edit__parent:after {
      content: "";
      background: $black-color2;
      position: absolute;
      height: 2.5rem;
      width: 1px;
      top: 0.1rem;
      left: $xl-font;
      bottom: 0;

      @include lg{
        left: 2.5rem;
      }
    }

    .edit * {
      color: $secondary-color;
    }

    .delete__parent {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: $vs-font;

      .delete {
        border: 1px solid $delete;
        border-radius: 5px;
        width: fit-content;

        * {
          color: $delete;
        }
      }

      p {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: $xxs-font;
        line-height: 130%;
        color: $light-gray;
      }
    }
  }

  &__cartAction {
    border: 1px solid $secondary-color;
    padding: $xs-font $md-font;
    border-radius: 8px;
    aside {
      @include flexSpaceCenter;
      gap: $sm-font;
    }
    &:hover {
      background-color: $light-purple;
    }
  }
}

// .menuCard > div{
//   @include sm{
//     width: 46%;
//     box-sizing: border-box
//   }
// }

.multiStore-menuCard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  gap: $md-font;
  padding: $md-font;

  @include xl {
    grid-template-columns: repeat(2, 1fr);
    gap: $md-font;
    padding-top: $sm-font;
  }

  @include lg {
    gap: $sm-font1;
  }

  @include lg{
    grid-template-columns: 250px 250px;
    gap: $md-font;
  }

  &__card {
    @include flexCenter;
    flex-direction: column;
    background-color: $white-color;
    border-radius: 16px;
    position: relative;
    margin-top: $sm-font2;
    cursor: pointer;
    gap: $sm-font;
    padding: $sm-font 0;
    padding-top: $xxl-font1;

    img {
      width: 80px;
      height: 80px;
    }

    @include lg {
      margin-top: $xl-font;
    }
  }

  &__title {
    font-weight: 700;
    font-family: "Inter";
    font-weight: 400;
    font-size: $xs-font;
    line-height: 130%;
    word-wrap: break-word;
    width: 16ch;
    text-align: center;
  }

  &__price {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: $sm-font;
    line-height: 19px;
    letter-spacing: 0.0025em;
  }

  img {
    position: absolute;
    top: -$md-font;
  }

  &__price {
    font-size: $sm-font;
    font-weight: 700;
    position: relative;
  }
}
