//ADD NEW ITEM MODAL
.modal {
  @include fixedModal;

  .modal-content {
    @include modalContent;

    p {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }

    .close-btn {
      @include flexCenter;
      background-color: #ff0000;
      color: #fff;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 0.5rem;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;
      margin: 0 auto;
      cursor: pointer;

      &:hover {
        background-color: #cc0000;
      }
    }
  }
}

//DELETE ITEM MODAL
.del-container {
  @include fixedModal;

  .del-content {
    @include modalContent;
    width: 300px;

    .close-btn {
      display: flex;
      justify-content: flex-end;
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: 1.5rem;
      color: $error-color;
      padding-bottom: 1rem;
    }

    p {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 2rem;
      text-align: center;
    }

    .buttons {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 3rem;

      .del-btn {
        width: 100%;
        outline: none;
        background-color: $primary-color;
        color: $white-color;
        padding: 10px;
        font-size: $sm-font;
        font-weight: 700;
        font-family: $space-grotesk-font;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background-color: rgba($primary-color, 0.8);
        }
      }

      .cancel-btn {
        @include flexCenter;
        border: none;
        background-color: transparent;
        font-weight: 500;
        color: $primary-color;
        font-size: $sm-font;
        font-family: $dm-sans-font;
        text-align: center;
        width: 100px;
        margin: $md-font auto;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
        }
      }

      .cancel-btn.suspend-cancel-btn {
        border: 1px solid $primary-color;
        width: 100%;
        padding: 8px;
        border-radius: 4px;

        &:hover {
          transform: scale(0.95);
        }
      }

    }
  }
}

//PAYMENT MODAL
.payment__wrapper {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  right: 0;
  width: 31.2vw;
  z-index: 2;
  font-family: $inter-font;
  height: 30vh;
}

.payment {
  background-color: $white-color;
  height: 70vh;
  padding: $md-font;
  margin-top: 28vh;
  position: fixed;
  top: 1rem;
  right: 0;
  z-index: 2;
  width: 31.2vw;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;

  &__top {
    header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: $sm-font;
      margin-bottom: $sm-font;

      h1 {
        font-weight: 600;
        color: $black-color;
        font-size: $md-font;
      }
    }

    small {
      font-weight: 500;
      font-size: $sm-font;
      color: $lighter-gray;
      padding-bottom: $sm-font;
      display: block;
      border-bottom: 1px solid $placeholder-gray;
    }
  }

  &__mid {
    align-self: stretch;

    .amount {
      text-align: center;

      small {
        font-size: $sm-font;
        font-weight: 400;
        color: $light-gray;
        text-transform: capitalize;
        margin-bottom: $sm-font;
      }

      h4 {
        font-size: $sm-font2;
        color: $primary-color;
        margin-bottom: $lg-font;
      }
    }

    .payment__methods {
      h5 {
        color: $black-color;
        font-size: $extra-font;
        margin-bottom: $sm-font;
        text-transform: capitalize;
      }

      .methods {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-transform: capitalize;
        gap: $sm-font1;

        &>* {
          @include flexCenter;
          flex-direction: column;
          gap: $sm-font1;
          color: $light-gray;
          border: 1px solid $light-gray;
          border-radius: 7px;
          width: 80px;
          height: 62px;
        }

        .activePayment {
          border: 1px solid $primary-color;
          color: $primary-color;
          font-weight: 600;
          position: relative;

          .none {
            display: none;
          }

          .icon-display {
            position: absolute;
            top: 0.2rem;
            right: 0.2rem;
          }
        }
      }
    }
  }

  &__bottom {
    &--input {
      text-align: center;
      margin-bottom: $sm-font;

      h3 {
        font-weight: 400;
        font-size: $extra-font;
        text-transform: capitalize;
        margin-bottom: $sm-font;
      }
    }

    &--btns {
      align-self: stretch;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &>* {
        width: 46%;
        text-align: center;
        text-transform: capitalize;
        font-family: $inter-font;
        font-size: $xxs-font;
        font-weight: 500;
        border: 1px solid $primary-color;
        border-radius: 5px;
        cursor: pointer;
      }

      span {
        padding: $xxs-font 0;
      }
    }
  }
}

//CONFIRM PAYMENT CENTER
.modal__center {
  @include flexCenter;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: $xxl-font $xxl-font2;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  z-index: 2;

  &>* {
    width: 100%;
  }

  h1 {
    font-weight: 600;
    font-size: $extra-font;
    margin-top: $lg-font;
    margin-bottom: $xxl-font;
  }

  button {
    font-family: $inter-font;
    font-weight: 500;
    font-size: $xxs-font;
    text-transform: capitalize;

    &:last-child {
      background-color: $white-color;
      margin-top: $md-font;
      color: $primary-color;
      border: 1px solid $primary-color;
    }
  }

  .time__date {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: $md-font;

    h4 {
      font-family: $inter-font;
      text-transform: capitalize;
      font-size: $xxs-font;
      font-weight: 600;

      &:first-child {
        margin-bottom: $sm-font1;
      }

      span {
        font-weight: 400;
      }
    }
  }
}

//ADD NEW USER MODAL
.user-modal {
  @include fixedModal;

  .modal-content {
    @include modalContent;

    p {
      text-align: center;
      font-size: 1.25rem;
      margin-bottom: 2rem;
    }

    .close-btn {
      @include flexCenter;
      width: 200px;
      outline: none;
      background-color: $primary-color;
      color: $white-color;
      padding: 12px 82px;
      margin: 0 auto;
      text-align: center;
      text-transform: capitalize;
      font-size: 14px;
      font-weight: 700;
      font-family: $space-grotesk-font;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: rgba($primary-color, 0.8);
      }
    }
  }
}