.individualReports {
  h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: $extra-font;
    line-height: 140%;
    color: $black-color;
    padding: $sm-font2;

    @include lg {
      display: none;
    }
  }

  .header__parent {
    display: none;
    @include lg {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 4rem;
      background-color: $white-color;
      padding: 0 1rem;
      position: sticky;
      top: 0;
    }

    .header {
      display: flex;
      align-items: center;
      gap: $sm-font1;
      width: 100%;
      margin-top: 1rem;
      padding-bottom: 0.5rem;

      .back__icon {
        display: block;
        font-size: 1.2rem;
        color: $lighter-gray;
      }

      h2 {
        margin-right: 0.5rem;
        font-size: $extra-font;
        font-weight: 600;
        font-family: $inter-font;
        color: #332f32;
        font-size: 1.125rem;
      }
    }

    hr {
      width: 100%;
      border: none;
      border-bottom: 1px solid $placeholder-gray;
      margin-bottom: 0.8rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .waiters {
    @include flexCenter;
    flex-direction: column;

    h2 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: $sm-font;
      line-height: 140%;
      color: $black-color2;
      padding-top: $xl-font;

      @include md {
        padding-top: $sm-font;
      }
    }

    .waiters__list {
      @include flexCenter;
      flex-direction: column;
      width: 100%;
      gap: $sm-font2;
      padding-top: $sm-font2;

      .waiters__link {
        @include flexCenter;
        border: 1px solid $lighter-gray;
        border-radius: 11.8264px;
        width: 35%;
        padding: $sm-font $xxl-font1;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $gray-text;

        @include lg {
          width: 85%;
        }
      }
    }
  }
}

// stying for a single Report Page
.singleReports {
  padding: $sm-font;
  padding-bottom: 0rem;
  height: 80vh;
  position: relative;

  @include lg {
    height: auto;
    padding: 0;
    margin-bottom: $xl-font;
    padding-bottom: $xl-font;
  }

  .header__parent {
    display: none;
    @include lg {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 4rem;
      background-color: $white-color;
      padding: 0 1rem;
      position: sticky;
      top: 0;
    }

    .header {
      display: flex;
      align-items: center;
      gap: $sm-font1;
      width: 100%;
      margin-top: 1rem;
      padding-bottom: 0.5rem;

      .back__icon {
        display: block;
        font-size: 1.2rem;
        color: $lighter-gray;
      }

      h2 {
        margin-right: 0.5rem;
        font-size: $extra-font;
        font-weight: 600;
        font-family: $inter-font;
        color: #332f32;
        font-size: 1.125rem;
      }
    }

    hr {
      width: 100%;
      border: none;
      border-bottom: 1px solid $placeholder-gray;
      margin-bottom: 0.8rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .header {
    position: sticky;
    top: 0rem;
    width: 100%;
    background-color: $white-color;
    z-index: 8;
    padding-bottom: $sm-font;
    // background-color: red;

    @include lg {
      position: relative;
      padding-bottom: 0;
    }

    .flex {
      display: flex;
      align-items: center;
      gap: $sm-font1;
      cursor: pointer;
      @include lg {
        display: none;
      }
    }

    .print-wrapper {
        display: flex;
        align-items: center;
        gap: $sm-font;
        justify-content: space-between;
        padding: $sm-font1;

      }

    .flex-wrapper {
      display: flex;
      align-items: center;
      gap: $sm-font;
      justify-content: space-between;
      padding: $sm-font1;

      @include lg {
        flex-direction: column;
      }
    }

    .print {
      border-radius: 8px;
      border: 1px solid $placeholder-gray;
      padding: $sm-font1;
      cursor: pointer;
      p {
        color: $light-gray;
        font-size: $sm-font;
        font-family: "Inter", sans-serif;
        font-weight: 500;
      }
    }

    .download {
      border-radius: 8px;
      border: 1px solid $placeholder-gray;
      padding: $xxs-font;
    }

    .select {
      color: $light-gray;
      font-size: $sm-font;
      font-family: "Inter", sans-serif;
      font-weight: 500;
      cursor: pointer;
    }
    .options {
      color: $black-color;
      font-size: $sm-font;
      font-family: "Inter", sans-serif;
      font-weight: 400;
      padding: $sm-font;
    }

    h1 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: $extra-font;
      line-height: 140%;
      color: $black-color;
    }

    .date {
      display: flex;
      justify-content: space-between;
      padding-top: $sm-font;
      cursor: pointer;

      @include lg {
        flex-direction: column;
      }

      &__title {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: $sm-font;
        line-height: 140%;
        color: $black-color2;
        @include lg{
        display: none;
        }
      }

      .dateHeader__parent {
        display: none;
        @include lg {
          display: flex;
          flex-direction: column;
          width: 100%;
          background-color: $white-color;
          padding:0 $sm-font;
          padding-bottom: $sm-font1;
        }
    
        .header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: $sm-font1;
          width: 100%;
          padding-bottom: $sm-font;
    
          .back__icon {
            display: block;
            font-size: 1.2rem;
            color: $lighter-gray;
          }
    
          h2 {
            font-size: $extra-font;
            font-weight: 600;
            font-family: $inter-font;
            color: $purple-text;
            font-size: $sm-font;
          }
        }
    
        hr {
          width: 100%;
          border: none;
          border-bottom: 1px solid $placeholder-gray;
          margin-bottom: 0.8rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      &__filter {
        display: flex;
        gap: $sm-font;

        @include lg {
          flex-direction: column;
          padding:0 $sm-font;
        }

        &--start,
        &--stop {
          display: flex;
          flex-direction: column;
          gap: $xs-font;
        }
      }

      &__button {
        display: flex;
        margin-left: auto;
        width: fit-content;
        padding-top: $sm-font;
        gap: $sm-font2;
        cursor: pointer;

        @include lg {
         padding: $sm-font;
         padding-top: $sm-font2;
        }

        .apply {
          font-family: "Inter";
          font-style: normal;
          font-weight: 600;
          font-size: $xs-font;
          line-height: 24px;
          color: $border-color-text;
          background: $border-color;
          padding: $sm-font1 $md-font;
          border-radius: 4px;
        }

        .no-display {
          display: none;
        }

        .cancel {
          font-family: "Inter";
          font-style: normal;
          font-weight: 600;
          font-size: $xs-font;
          line-height: 24px;
          color: $primary-color;
          padding: $sm-font1 $md-font;
          background: transparent;
          border-radius: 4px;
          border: 1px solid $primary-color;
        }

        .active {
          background: $primary-color;
          color: $white-color;
          font-family: "Inter";
          font-style: normal;
          font-weight: 600;
          font-size: $xs-font;
          line-height: 24px;
          padding: $sm-font1 $md-font;
          border-radius: 4px;
        }
      }
    }
  }

  &__emptyContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 500px);

    @include lg {
      display: none;
    }

    p {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 140%;
      color: $black-color2;
    }
  }

  &__content {
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: $placeholder-gray;
    border-radius: 8px;
    padding: $md-font $sm-font;
    padding-bottom: 0rem;
    height: auto;
    @include lg{
      margin: 0 $sm-font;
    }

    &--header {
      position: sticky;
      top: 0rem;
      background-color: $white-color;
      display: flex;
      gap: $sm-font2;
      flex-direction: column;

      @include lg{
        align-items: center;
        justify-content: center;
        gap: $sm-font1;
        border-bottom: 1px solid #ECECEC;
        padding-bottom: $sm-font;
      }

      h2,
      p {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: $sm-font;
        line-height: 140%;
        color: $black-color2;
      }

      .bold {
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        color: $black-color;
      }

      .bold-heading {
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: $extra-font;
        line-height: 140%;
        color: $black-color2;
      }

      .date__desktop{
        display: block;
        @include lg{
          display: none;
        }
      }

      .date__mobile{
        display: none;
        @include lg{
          display: block;
        }
      }

      .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: $sm-font;

        @include lg{
          flex-direction: column;
        }
      }
    }

    table {
      border-collapse: separate;
      border-spacing: 0 15px;
      table-layout: fixed;
      width: 100%;         

      @include lg{
        display: none;
      } 
    }

    th {
      color: $black-color;
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: $xs-font;
      line-height: 140%;
      text-align: center;
    }

    th,
    td {
      padding: $extra-font 0rem;
      border-bottom: 1px solid $placeholder-gray;
    }

    td {
      color: $black-color;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: $xs-font;
      line-height: 140%;
      text-align: center;
    }

    .mobile__table{
      .card{
        border-bottom: 1px solid #ECECEC;
        padding-top: $sm-font2;
        padding-bottom: $sm-font;

        h4,p{
          font-family: $inter-font;
          font-weight: 400;
          font-size: 1rem;
          color: $black-color;
          padding: $vs-font 0;
        }

        .flex{
          display:flex;
          justify-content: space-between;
          padding-top: $sm-font;

          :nth-child(2){
          font-family: $inter-font;
          font-weight: 500;
          font-size: 1rem;
          color: $black-color;
          }
        }

      }
    }
  }
}

.generalReports {
  h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: $extra-font;
    line-height: 140%;
    color: $black-color;
    padding: $sm-font2;
  }
}

.mobileReportsPage{
    display: none;
    @include lg {
      display: flex;
      flex-direction: column;
      width: 100%;
      box-sizing: border-box;
      font-family: $inter-font;
      background-color: #f5f5f5;
      position: fixed;
      top: 0;
      z-index: 300;
      margin-top: 0;
      overflow: scroll;
      height: 100vh;
      padding-bottom: $xxl-font;
      //  background-color: red;
    }
  

    .header__parent {
      display: none;
      @include lg {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 4rem;
        background-color: $white-color;
        padding: 0 1rem;
        position: sticky;
        top: 0;
      }
  
      .header {
        display: flex;
        align-items: center;
        gap: $sm-font1;
        width: 100%;
        margin-top: 1rem;
        padding-bottom: 0.5rem;
  
        .back__icon {
          display: block;
          font-size: 1.2rem;
          color: $lighter-gray;
        }
  
        h2 {
          margin-right: 0.5rem;
          font-size: $extra-font;
          font-weight: 600;
          font-family: $inter-font;
          color: #332f32;
          font-size: 1.125rem;
        }
      }
  
      hr {
        width: 100%;
        border: none;
        border-bottom: 1px solid $placeholder-gray;
        margin-bottom: 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  
  
    .mobileMenu {
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      gap: $md-font;
  
      &__child {
        display: flex;
        align-items: center;
        background-color: $white-color;
        justify-content: center;
        padding: $md-font;
        gap: $sm-font;
        color: $black-color2;
        box-shadow: 0px -1px 2px rgba(2, 3, 3, 0.05),
          0px 1px 1px rgba(2, 3, 3, 0.04), 0px 2px 1px rgba(2, 3, 3, 0.02);
        border-radius: 4px;
  
        p {
          font-family: $inter-font;
          font-style: normal;
          font-weight: 500;
          font-size: $sm-font;
          line-height: 20px;
          letter-spacing: 0.0015em;
          color: $black-color2;
        }
      }
    }
  
}
