.sidebar__container {
    background-color:$white-color;
    color: $white-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100vh;

    .sidebar__logo {
        align-self: center;
        text-align: center;
        overflow-y: hidden;
        overflow-x: hidden;
        width: 200px;
        height: 100px;
        border-radius: 5px;
        margin-top: $sm-font2;

        img {
            width: 200px;
            height: auto;
        }
    }

    .sidebar__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        .sidebar__link {
            display: flex;
            align-items: center;
            padding: $md-font $md-font $sm-font $sm-font;
            font-size: $sm-font;
            margin-bottom: $sm-font1;
            margin-left: $sm-font;
            transition: all 0.4s ease;
            overflow: hidden;
            gap: $sm-font;
            color: $black-color;
            width: 100%;
        }

        .sidebar__parent{
            width: 100%;
            padding-left: $sm-font;
            display: flex;
            flex-direction: row;
            align-items: center ;
        }

        .active__parent{
            width: 100%;
            padding-left: $sm-font;
            display: flex;
            flex-direction: row;
            align-items: center ;
        }

        .active__parent::after{
            content: "";
            width: 6.66px;
            height: 19.98px;
            right: -15px;
            top:0;
            background: $secondary-color;
            border-radius: 4.16319px 0px 0px 4.16319px

        }
    }

}