@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inter:wght@400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

//FONT VARIABLES
$xxl-font2: 6rem;
$xxl-font: 4rem;
$xl-font: 3rem;
$lg-font: 2.25rem;
$md-font: 1.5rem;
$sm-font: 1rem;
$sm-font1: 0.5rem;
$sm-font2: 2rem;
$xs-font: 0.88rem;
$xxs-font: 0.81rem;
$extra-font: 1.25rem;

//PROJECT COLOR PALETTE
$primary-color: #51145a;
$secondary-color: #ec9c04;
$light-purple: #ffebfb;
$black-color: #332f32;
$black-color2: #4a4549;
$white-color: #ffffff;
$gray-bg: #f5f5f5;
$light-gray: #7b7579;
$lighter-gray: #b1a9ad;
$placeholder-gray: #ccc4c8;
$red: #de3730;
$green: #00c650;
$linear-gradient-primary: linear-gradient(
  90deg,
  #561d5e -10.15%,
  #873ec2 38.77%,
  #f89a1c 142.64%
);
$linear-gradient-secondary: linear-gradient(
  90deg,
  #f89a1c 0%,
  #f89a1c 20.31%,
  rgba(255, 255, 255, 0) 100%
);
$dm-sans-font: "DM Sans", sans-serif;
$inter-font: "Inter", sans-serif;
$space-grotesk-font: "Space Grotesk", sans-serif;
//PROJECT VARIABLES ends here

//EXTRAS
$warning-color: #e97316;
$error-color: #ef444a;
$success-color: #22c55e;
$light-dark: #676868;
$feint-light-dark: #414243;
$fira-sans-font: "Fira Sans", sans-serif;

//color maps
$colors: (
  "primary": $primary-color,
  "secondary": $secondary-color,
  "warning": $warning-color,
  "error": $error-color,
  "success": $success-color,
  "white": $white-color,
  "black": $black-color,
);

@each $key, $val in $colors {
  .sb-text-#{$key} {
    color: $val;
  }

  .sb-bg-#{$key} {
    background-color: $val;
  }

  //all color variations
  @for $i from 1 through 10 {
    .sb-text-#{$key}-light-#{$i} {
      color: mix(#ffffff, $val, $i * 10);
    }
    .sb-bg-#{$key}-light-#{$i} {
      background-color: mix(#ffffff, $val, $i * 10);
    }
  }

  @for $i from 1 through 10 {
    .sb-text-#{$key}-dark-#{$i} {
      color: mix(#000000, $val, $i * 10);
    }
    .sb-bg-#{$key}-dark-#{$i} {
      background-color: mix(#000000, $val, $i * 10);
    }
  }
}
