.container {
  .auth.signup {
    width: 65%;
  }

  .auth {
    @include flexCenter;
    flex-direction: column;
    font-family: $space-grotesk-font;
    width: 50%;
    min-height: 100%;
    margin: $lg-font auto;
    border: 1.5px solid rgba($primary-color, 0.5);
    border-radius: 12px;
    padding: $xxl-font;

    &__heading {
      background: $linear-gradient-primary;
      color: transparent;
      background-clip: text;
      font-size: $sm-font2;
      margin-bottom: $sm-font1;

      @include sm {
        font-size: 1.85rem;
      }
    }

    &__subHeading {
      color: $black-color;
      font-weight: 500;
      font-size: $extra-font;
      text-transform: capitalize;
      margin-bottom: $xxl-font;
    }

    &__paragraph {
      color: $black-color2;
      font-family: $inter-font;
      font-weight: 400;
      font-size: $sm-font;
      margin-bottom: $xxl-font;
      max-width: 330px;
      text-align: center;
    }

    &__changeAcc {
      font-size: $xxs-font;
      margin-bottom: $lg-font;
      span {
        font-weight: 500;
        color: $dark-gray;
        margin-right: 5px;
      }
      a {
        text-transform: capitalize;
        text-decoration: underline;
        color: $primary-color;
        font-weight: 700;
        &:hover {
          color: rgba($primary-color, 0.5);
        }
      }
    }

    &__storeType {
      @include flexCenter;
      gap: $md-font;
      p {
        border: 1.5px solid rgba($primary-color, 0.5);
        border-radius: 12px;
        font-weight: 500;
        font-size: $extra-font;
        text-transform: uppercase;
        padding: 5rem;
        cursor: pointer;
        transition: all 0.2s ease;
        color: $light-gray;
        &:hover {
          background-color: $primary-color;
          transform: scale(1.05);
          color: $white-color;
        }
      }
    }

    &__links {
      font-weight: 500;
      color: $primary-color;
      font-size: $extra-font;
      font-family: $dm-sans-font;
      margin-top: $sm-font;
      text-align: center;

      &:hover {
        text-decoration: underline;
      }
    }

    &__error {
      color: $error-color;
      font-size: $xxs-font;
      text-transform: lowercase;
    }

    .form {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: $extra-font;
      width: 100%;

      @include sm {
        min-width: 100%;
      }

      h3 {
        font-size: $sm-font;
        font-weight: 400;
        margin-bottom: 0.25rem;
      }

      .span {
        font-size: $xxs-font;
        font-weight: 300;
        margin-top: $sm-font;
      }

      .checkbox__label {
        align-self: flex-start;
        margin-bottom: $sm-font;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-size: $xs-font;

        label {
          @include flexCenter;
          gap: $sm-font1;
          font-weight: 400;
        }

        input {
          width: fit-content;
        }

        a {
          color: $red;
          font-weight: 500;

          &:hover {
            text-decoration: underline;
          }
        }

        .text__purple {
          text-decoration: underline;
          color: $primary-color;
          font-weight: 700;
        }
      }

      .auth__btns {
        @include flexSpaceCenter;
        & > * {
          width: 42%;
        }
        button:first-child {
          background-color: $white-color;
          color: $primary-color;
          border: 1px solid $primary-color;
        }
      }

      // Profile Change password class
      .p-link_box {
        display: flex;
        justify-content: flex-end;

        .p-link {
          font-size: 0.7rem;
          color: $red;
          font-weight: 500;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .cancel-btn-div {
        .cancel-btn {
          @include cancelBtn;
        }
      }
    }

    .grid {
      .input__container {
        margin-bottom: $md-font;
      }
    }

    .signup__options {
      @include flexCenter;
      flex-direction: column;
      gap: $sm-font1;
      margin-top: $extra-font;

      span {
        color: $light-gray;
        font-size: $xxs-font;
        font-weight: 500;
        margin-right: 5px;
      }

      .createAccount {
        font-weight: 700;
        color: $primary-color;
        text-decoration: underline;
        font-size: $sm-font;
      }
    }
  }
}
