.container {
  .progressBar {
    @include sm {
      width: 80%;
    }
  }

  .auth.signup {
    width: 70%;
  }

  .auth {
    @include flexCenter;
    flex-direction: column;
    font-family: $space-grotesk-font;
    width: 40%;
    min-width: 500px;
    min-height: 100%;
    margin: $lg-font auto;
    border: 1.5px solid rgba($primary-color, 0.5);
    border-radius: 20px;
    padding: $xxl-font;

    @include sm {
      width: 100%;
      min-width: 100%;
      padding: $md-font;
      margin: 1rem auto;
    }

    &__heading {
      background: $linear-gradient-primary;
      color: transparent;
      background-clip: text;
      font-size: $sm-font2;
      margin-bottom: $sm-font1;

      @include sm {
        font-size: 1.85rem;
      }

      @include xs {
        font-size: 1.3rem;
      }
    }

    &__subHeading {
      color: $black-color;
      font-weight: 500;
      font-size: $extra-font;
      margin-bottom: $lg-font;

      @include xs {
        font-size: $sm-font;
        text-align: center;
        padding-top: 5px;
      }
    }

    &__verify-email {
      @include sm {
        padding: 1.5rem;
      }
    }

    &__email {
      background: $linear-gradient-primary;
      color: transparent;
      background-clip: text;

      @include xs {
        font-size: 16px;
      }
    }

    &__paragraph {
      color: $black-color2;
      font-family: $inter-font;
      font-weight: 400;
      font-size: $sm-font;
      margin-bottom: $xxl-font;
      max-width: 330px;
      text-align: center;
    }

    &__paragraph.otp {
      max-width: 100%;
      margin-top: $sm-font2;
    }

    &__changeAcc {
      font-size: $xxs-font;
      margin-bottom: $lg-font;

      span {
        font-weight: 500;
        color: $dark-gray;
        margin-right: 5px;
      }

      a {
        text-transform: capitalize;
        text-decoration: underline;
        color: $primary-color;
        font-weight: 700;

        &:hover {
          color: rgba($primary-color, 0.5);
        }
      }
    }

    &__loginSwitch {
      margin-bottom: $lg-font;
      width: 100%;
      height: 56px;
      border-radius: 50px;
      padding: 8px;
      background-color: #f1eef0;
      position: relative;

      .slider {
        background-color: $white-color;
        position: absolute;
        top: 8px;
        left: 8px;
        bottom: 8px;
        border-radius: 50px;
        width: 50%;
        transition: 0.3s all ease;
      }

      .slider.selectedUsername {
        transform: translateX(92%);
      }

      .options {
        position: absolute;
        width: 100%;
        @include flexCenter;
        top: 8px;
        bottom: 8px;
        left: 0;
        z-index: 2;

        span {
          width: 47%;
          text-align: center;
          font-weight: 400;
          color: $card-gray;
          font-size: $xs-font;
          padding: $sm-font 0;
          cursor: pointer;
        }
      }
    }

    &__storeType {
      @include flexCenter;
      gap: $xxl-font;
      margin: $md-font $md-font 0;
      padding: 0 1rem;
      width: 100%;
      min-width: 500px;

      @include sm {
        min-width: 100%;
        margin: $md-font auto;
        padding: 0;
        gap: $sm-font;
      }

      @include xs {
        width: 100%;
        flex-direction: column;
      }

      p {
        @include flexCenter;
        border: 1px solid #7b7579;
        border-radius: 8px;
        font-weight: 500;
        font-size: $extra-font;
        text-transform: uppercase;
        width: 50%;
        height: 200px;
        cursor: pointer;
        transition: all 0.2s ease;
        color: $light-gray;

        @include sm {
          font-size: $sm-font;
          height: 100px;
        }

        @include xs {
          width: 100%;
        }

        &:hover {
          background-color: $primary-color;
          transform: scale(1.05);
          color: $white-color;
        }
      }
    }

    &__links {
      font-weight: 500;
      color: $primary-color;
      font-size: $extra-font;
      font-family: $dm-sans-font;
      margin-top: $sm-font;
      text-align: center;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    &__links.otp {
      margin-top: 0;
    }

    &__error {
      color: $error-color;
      font-size: $xxs-font;
      text-transform: lowercase;
    }

    .form {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: $extra-font;
      width: 100%;

      @include sm {
        min-width: 100%;
      }

      h3,
      label {
        font-size: $sm-font;
        font-weight: 400;
        margin-bottom: 0.25rem;
      }

      .span {
        font-size: $xxs-font;
        font-weight: 300;
        margin-top: $sm-font;
      }

      .checkbox__label {
        margin-bottom: $md-font;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: $sm-font1;

        .checkbox {
          margin-top: -14px;

          @include sm {
          }
        }

        label {
          @include flexCenter;
          gap: $sm-font1;
          font-weight: 400;
        }

        input {
          width: fit-content;
        }

        a {
          color: $red;
          font-weight: 500;

          &:hover {
            text-decoration: underline;
          }
        }

        .text__purple {
          text-decoration: underline;
          color: $primary-color;
          font-weight: 700;
        }
      }

      .auth__btns {
        @include flexSpaceCenter;

        & > * {
          width: 42%;
        }

        @media (max-width: 1400px) {
          flex-direction: column;
          gap: $sm-font;
          width: 100%;

          & > * {
            width: 100%;
          }
        }

        button:first-child {
          background-color: $white-color;
          color: $primary-color;
          border: 1px solid $primary-color;
        }
      }

      // Profile Change password class
      .p-link_box {
        display: flex;
        justify-content: flex-end;

        .p-link {
          font-size: 0.7rem;
          color: $red;
          font-weight: 500;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .cancel-btn-div {
        .cancel-btn {
          @include cancelBtn;
        }
      }
    }

    .grid {
      .input__container {
        margin-bottom: $md-font;
        flex-direction: column;
        display: flex;
      }
    }

    .signup__options {
      @include flexCenter;
      flex-direction: column;
      gap: $sm-font1;
      margin-top: $extra-font;

      span {
        color: $light-gray;
        font-size: $xxs-font;
        font-weight: 500;
        margin-right: 5px;
      }

      .createAccount {
        font-weight: 700;
        color: $primary-color;
        text-decoration: underline;
        font-size: $sm-font;
      }
    }
  }

  .auth.storeType {
    width: 55%;
    padding: $xxl-font;
  }
}
