.home {
  .home__container {
    padding-top: 7rem;
    .home__container--hero {
      display: flex;
      justify-content: space-between;
      @include containerPadding;

      @include sm {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3em;
      }
      .home__container--hero--left {
        display: flex;
        flex-direction: column;

        .home--title {
          color: $primary-color;
          font-weight: 700;
          font-size: $xxl-font;
          line-height: 77px;
          width: 587px;
          font-family: $fira-sans-font;
          margin-bottom: 2.5rem;

          @include sm {
            font-size: 2.5rem;
            line-height: normal;
            width: auto;
          }
        }
        .home--paragraph {
          margin-bottom: 2.5rem;
          line-height: 26px;
          color: $feint-light-dark;
          width: 398px;

          @include sm {
            width: auto;
          }
        }
        .home--hero--links {
          display: flex;
          justify-content: flex-start;
          gap: 20px;
          align-items: center;
          font-size: $xs-font;
          text-align: center;

          a {
            border: 1px solid $primary-color;
            width: 167px;
            height: 40px;
            color: $primary-color;
            transition: all 0.3s ease;
            border-radius: 0.2rem;
          }
          #getStarted {
            background-color: $primary-color;
            color: $white-color;
            display: inline-flex;
            justify-content: center;
            align-items: center;

            &:hover {
              background-color: $white-color;
              color: $primary-color;
            }
          }
          #requestDemo {
            display: inline-flex;
            justify-content: center;
            gap: 0.5rem;
            align-items: center;

            &:hover {
              background-color: $primary-color;
              color: $white-color;
            }
          }
        }
      }

      .home__container--hero--right {
        .dashboard__image {
          width: 680px;

          @include sm {
            width: 400px;
          }
        }
      }
    }

    // cryptocurrency section
    .cryptocurrencies__section {
      margin-top: 6rem;
      @include flexCenter;
      flex-direction: column;
      text-align: center;

      .cryptocurrencies__title {
        @include subtitles;
      }

      .cryptocurrencies__paragraph {
        color: $light-dark;
        width: 300px;
        margin: 1rem 0;
      }

      .cryptocurrencies__container {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;

        @include sm {
          gap: 1em;
        }
        .cryptocurrency {
          display: flex;
          gap: 1rem;
          align-items: center;
          .crypto__parent {
            width: 39px;
          }

          span {
            color: $lighter-gray;
          }
        }
      }
    }

    //services section
    .benefits__section {
      @include containerPadding;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 26vh;

      @include sm {
        flex-direction: column-reverse;
        margin-top: 5rem;
      }

      .benefits__section--left {
        .dashboard_group {
          width: 532px;
          object-fit: contain;

          @include sm {
            width: 100%;
          }
        }
      }

      .benefits__section--right {
        display: grid;
        gap: 1rem;
        .benefits__section--title {
          margin-top: -3em;
          padding-bottom: 2em;
          h1 {
            font-family: $fira-sans-font;
            font-style: normal;
            font-weight: 700;
            font-size: $lg-font;
            line-height: 43px;
            color: $primary-color;
            width: 509px;

            @include sm {
              width: auto;
              text-align: center;
            }
          }
        }

        .benefits__section--grids {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 2rem;

          @include sm {
            display: flex;
            flex-direction: column;
            gap: 0;
          }

          .benefits__section--cards {
            @include sm {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              text-align: center;
              padding: 1em 0;
            }
            .service--icon {
              width: 40px;
              min-width: none;
              padding-bottom: 1em;
            }

            h1 {
              font-family: $fira-sans-font;
              font-style: normal;
              font-weight: 700;
              font-size: $sm-font;
              line-height: 19px;
              color: $primary-color;
            }

            p {
              font-style: normal;
              font-weight: 400;
              font-size: $sm-font;
              line-height: 164.9%;
              width: 302px;
              color: $light-dark;
            }
          }
        }
      }
    }

    //getting started
    .getting__started__container {
      padding-top: 4em;
      @include containerPadding;

      .getting__started--caption {
        h1 {
          font-family: $fira-sans-font;
          font-style: normal;
          font-weight: 700;
          font-size: $lg-font;
          line-height: 43px;
          color: $primary-color;
          width: 500px;

          @include sm {
            width: auto;
            text-align: center;
          }
        }

        p {
          font-style: normal;
          font-weight: 400;
          font-size: $sm-font;
          line-height: 164.9%;
          width: 500px;
          color: $light-dark;

          @include sm {
            width: 360px;
          }
        }
      }

      .getting__started--lists {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;

        @include sm {
          flex-direction: column;
        }
        .getting__started--cards {
          @include sm {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 1em 0;
          }
          .getting__started--count {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            border: 0.7px solid $primary-color;
            display: inline-flex;
            justify-content: center;

            h1 {
              font-family: $fira-sans-font;
              font-style: normal;
              font-weight: 600;
              font-size: $xxs-font;
              line-height: 15px;
              display: flex;
              align-items: center;
              color: $primary-color;
            }
          }

          h1 {
            font-family: $fira-sans-font;
            font-style: normal;
            font-weight: 700;
            font-size: $sm-font;
            line-height: 19px;
            color: #414243;
          }

          p {
            width: 239px;
            font-style: normal;
            font-weight: 400;
            font-size: $sm-font;
            line-height: 164.9%;
            color: #676868;
          }
        }
      }
    }
  }
}
